.autocomplete {
    width: 100%;
    position: relative;
    height: max-content;
    margin-bottom: 30px;
    &__input {
        margin: 0 !important;
    }
    &__dropdown {
        position: absolute;
        top: 100%;
        width: 100%;
        background: $white;
        z-index: 10;
    }
    &__list {
    }
    &__item {
        padding: 15px 10px;
        color: black;
        text-align: start;
        cursor: pointer;
        font-weight: 500;
        &:hover {
            background-color: aliceblue;
        }
    }
}
