.dropdown {
    position: absolute;
    z-index: 10;
    top: 73px;
    right: 0;
    transition: all ease-in-out 0.2s;
    opacity: 1;

    &__list {
        padding: 8px 5px;
        margin: 0;
        background-color: $accent;
        text-align: start;
        border-radius: 0px 0px 8px 8px;
        overflow: hidden;

        @include _1125 {
            border-radius: 0px 0px 0px 8px;
        }
    }
    &__item {
        color: $white;
        list-style: none;
        font-size: 16px;
        padding: 15px;
        font-weight: 500;
        cursor: pointer;
        transition: background ease-in-out 0.2s;
        border-radius: 6px;
        &:hover {
            background-color: lighten($accent, 10%);
        }
    }
}
