.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 73px;
    display: flex;
    z-index: 100;
    transition: background 0.2s ease-in-out;
    background-color: $background;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.08);
    &.active {
        background-color: $background;
    }

    &__container {
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: visible;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 40px;
        height: 40px;
    }

    &__menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include _600 {
            display: none;
        }
        &-list {
            padding: 0;
            height: 100%;
            display: flex;
            margin-left: 50px;
        }
        &-link {
            color: $white;
            font-weight: 600;
            font-size: 18px;
            height: 100%;
            margin-right: 17px;
        }
        &--mobile {
            z-index: 101;
            position: absolute;
            top: 72px;
            height: 100vh;
            width: 110%;
            right: -30px;
            display: flex;
            padding-top: 20px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: $background;
            transform: translate(-150%);
            transition: transform 0.5s ease-in-out;
            &.active {
                transform: translateX(0);
            }

            .header__nav-link {
                width: max-content;
                color: #fff;
                font-size: 24px;
                height: 20px;
                margin-bottom: 50px;
                width: max-content;
            }
        }
    }

    &__nav {
        &-link {
            text-transform: none;
            font-weight: 400;
            font-size: 20px;
            height: 100%;
            display: flex;
            align-items: center;
            transition: background ease-in-out 0.2s;
            &:first-child {
                margin-right: 17px;
            }

            &:hover {
                color: lighten($background, 30%);
            }
        }
    }

    &__nav-link {
        color: $white;
    }
    &__profile {
        display: flex;
        align-items: center;
        position: relative;
    }
    &__avatar {
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin-right: 10px;
    }

    &__btns {
    }
    &__btn {
        padding: 12px 20px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #fff;
        color: $white;

        @include _600 {
            padding: 8px 12px;
        }
        &.active {
            background: #fff;
            color: $black;
        }
        &:first-child {
            border-radius: 12px 0px 0px 12px;
        }
        &:last-child {
            border-radius: 0px 12px 12px 0px;
        }
    }

    &__burger {
        display: none;
        height: 26px;
        width: 32px;
        z-index: 2;
        flex-direction: column;
        justify-content: space-between;

        @include _600 {
            display: flex;
        }
        &-line {
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: #fff;
        }

        .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
            &.active {
                transform: rotate(45deg);
            }
        }
        .line2 {
            transition: transform 0.2s ease-in-out;
            &.active {
                transform: scaleY(0);
            }
        }
        .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;

            &.active {
                transform: scaleY(0);
                transform: rotate(-45deg);
            }
        }
    }
}
