.header {
    width: 100%;
    position: absolute;
    top: 0;
    height: 73px;
    background-color: $accent;
    display: flex;
    z-index: 10;
    &__container {
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: visible;
    }

    &__logo {
        width: 40px;
        height: 40px;
    }

    &__menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-list {
            padding: 0;
            height: 100%;
            display: flex;
        }
        &-link {
            color: $white;
            font-weight: 600;
            font-size: 18px;
            height: 100%;
            margin-right: 17px;
        }
    }

    &__nav {
        &-link {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 8px;
            transition: background ease-in-out 0.2s;
            &:first-child {
                margin-right: 17px;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    &__nav-link {
        color: $white;
    }
    &__profile {
        display: flex;
        align-items: center;
        position: relative;
        &-name {
            @include _480 {
                display: none;
            }
        }
    }
    &__avatar {
        cursor: pointer;
    }
}
