.pair {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: $gap;
    column-gap: $double-gap;
    @include _850 {
        grid-template-columns: repeat(1, 1fr);
    }
    &__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        &-label {
            font-size: $size-middle;
            padding-bottom: $small-gap;
            color: $white;
        }

        &-select {
            width: max-content;
            margin-right: auto;
        }
        &--datetime {
            width: 200px;
            @include _480 {
                width: 150px;
            }
        }
    }
    &__btns {
        width: max-content;
        margin: 0 auto;
        display: flex;
        gap: $gap;
        margin-top: $double-gap;
        @include _480 {
            flex-direction: column;
            font-size: 14px;
            gap: 15px;
        }
    }
    &__btn {
        font-size: inherit !important;
    }
}
