.shedule {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    line-height: 1.4;
    color: $accent;
    padding-top: 50px;

    @include _768 {
        padding-top: 90px;
    }
    &__sitebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 5px;
        display: inline-flex;
        margin-bottom: $gap;
        padding-bottom: $small-gap;
        border-bottom: 1px solid $accent;

        &-btn {
            color: inherit;
            font-size: $size-base;
            margin-right: $small-gap;
            border-radius: 4px;
            padding: 4px $small-gap;
            border: 0;
            cursor: pointer;
            font-weight: 600;
            transition: background 0.2s ease-in-out;
            &:hover {
                color: $white;
                background-color: lighten($accent, 5%);
            }
            &:last-child {
                margin-right: 0;
            }
            @include _850 {
                margin-right: 4px;
            }
            &.active {
                color: $white;
                background-color: $accent;
            }
        }
    }
    &__select {
        position: absolute !important;
        top: 0;
        display: none !important;
        @include _768 {
            display: block !important   ;
        }
        &-item {
            border-bottom: none;
        }
        &-dayes {
            right: 0;
        }
        &-nav {
            left: 0;
        }
    }

    &__dayes {
        margin-right: $gap;
        border: 2px solid $accent-light;
        border-radius: $border-base;
        overflow: hidden;

        &-list {
            border-radius: $border-base;
            width: 100%;
        }
        &-item {
            color: $black-secondary;
            padding: 15px $gap;
            font-size: $size-middle;
            transition: all 0.3s ease-in-out;
            &.active {
                background-color: $accent-light;
                color: $white;
            }
        }
    }
    &__content {
        position: relative;
        max-width: 750px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &-item {
        width: 100%;
        &__top {
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            display: inline-flex;
            align-items: center;
            margin: 0 auto;
            font-size: $size-big;
            @include _768 {
                font-size: 28px;
                top: -46px;
            }
            svg {
                fill: $accent;
            }
        }
        &__title {
            font-size: inherit;
            margin: 0 10px 10px;
        }
        &__form {
            position: relative;
            padding: $gap 30px;
            border: 2px solid $accent-light;
            border-radius: $border-base;
            @include _768 {
                padding: $gap;
            }
        }
    }

    &__nav,
    &__dayes {
        @include _768 {
            display: none;
        }
    }
}
