@font-face {
    font-family: 'Jeko-Variable';
    src: local('Jeko-Variable'), url(../fonts/Jeko_Variable.ttf) format('ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Jeko-Light';
    src: local('Jeko-Light'), url(../fonts/Jeko_Light.ttf) format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Jeko-Medium';
    src: local('Jeko-Medium'), url(../fonts/Jeko_Medium.ttf) format('ttf');
    font-weight: normal;
}
