* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $background;
    overflow: hidden;
}
li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

input:-webkit-autofill {
    border: none;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px atachment inset;
    color: white;
    transition: background-color 5000s ease-in-out 0s;
}

#root {
    height: 100% !important;
}
.link {
    font-size: 14px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: $color-text;
    &:hover {
        color: $color-light-blue;
    }
    &--not-hover {
        &:hover {
            color: $color-text;
        }
    }
    &--light {
        color: $white;
        &:hover {
            opacity: 0.8;
        }
    }
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
    @include _480 {
        padding: 0 10px;
    }
}
.layout {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    &__container {
        max-width: 1200px;
        padding: 0 20px;
        padding-bottom: 50px;
        margin: 0 auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &.fixed {
        overflow: hidden;
    }
}
.page {
    margin-top: 120px;
    @include _768 {
        margin-top: 85px;
    }
}

.input-icon {
    color: $white !important;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-10 {
    margin-right: 10px !important;
}
.mb-35 {
    margin-bottom: 35px;
}
.w-100 {
    width: 100%;
}
.logo {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.btn {
    width: max-content;
    border: 0;
    background-color: $white !important;
    border-radius: $border-btn !important;
    color: $black-secondary !important;
    text-transform: capitalize !important;

    &:hover {
        background-color: darken($white, 15%) !important;
    }
}
.btn--small {
    padding: 12px 30px;
}

.text--error {
    margin: 10px 0;
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
    color: #f44336;

    @include _480 {
        top: -10px !important;
    }
}
.none {
    display: none;
}
.opacity-0 {
    opacity: 0 !important;
}
.error {
    color: red;
}
.modal {
    padding: 0;
    width: 320px;
    height: max-content;
}

.flex {
    display: flex;
}
.aic {
    align-items: center;
}

.cover {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.section {
    background-color: $background;
}
.dots-slider {
    background: rgba(255, 255, 255, 0.2);
    opacity: 0.8;
    border-radius: 6px 0px 0px 6px;
    right: -2px !important;
    li {
        margin: 3px !important;
    }
    span {
        background-color: $white;
        border-color: $white !important;
    }
    a.active {
        span {
            background: $white !important;
        }
    }
}
